@{
    var companies = (List<PayGuardAdmin.Models.MCompany>)ViewBag.companies;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>CompanyName</th>
            <th>ContactPerson</th>
            <th>ContactMobile</th>
            <th>ContactEmail</th>
            <th>Bank</th>
            <th>BankAccountName</th>
            <th>BankAccountNumber</th>
            <th>BankBranchCode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in companies)
        {
            <tr>
                <td title="@item.CompanyName">@item.CompanyName</td>
                <td title="@item.ContactPerson">@item.ContactPerson</td>
                <td title="@item.ContactMobile">@item.ContactMobile</td>
                <td title="@item.ContactEmail">@item.ContactEmail</td>
                <td title="@item.EBankCodeNavigation.BankName">@item.EBankCodeNavigation.BankName</td>
                <td title="@item.BankAccountName">@item.BankAccountName</td>
                <td title="@item.BankAccountNumber">@item.BankAccountNumber</td>
                <td title="@item.BankBranchCode">@item.BankBranchCode</td>
                <td>
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                    |
                    <a href="~/Companies/EditCompany/@item.Id" style="color:blue;">
                        Open
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form action="~/Clients/DeleteClient" method="post" id="delete_form">
    <input type="hidden" value="" name="id" id="delete_id"/>
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Record?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#delete_form").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>