@{
    var errors = (List<PayGuard.Models.MAccountCreditInstructionsFailed>)ViewBag.errors;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<table id="dt_" class="table tblsm">
    <thead>
        <tr>
            <th>Date</th>
            <th>RecipientBankCode</th>
            <th>RecipientAccountNumber</th>
            <th>SenderBankCode</th>
            <th>SenderAccountNumber</th>
            <th>Amount</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in errors)
        {
        <tr>
            <td title="@item.Date.ToString("d-MMM-yyyy")">@item.Date.ToString("d-MMM-yyyy")</td>
            <td title="@item.RecipientBankCode">@item.RecipientBankCode</td>
            <td title="@item.RecipientAccountNumber">@item.RecipientAccountNumber</td>
            <td title="@item.SenderBankCode">@item.SenderBankCode</td>
            <td title="@item.SenderAccountNumber">@item.SenderAccountNumber</td>
            <td title="@item.Amount">@item.Amount</td>
            <td title="@item.Reference">@item.Reference</td>
        </tr>
        }
    </tbody>
</table>

<script>
    $('#dt_').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });
</script>