@{
    var banks = (List<PayGuardAdmin.Models.MBank>)ViewBag.banks;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>BankName</th>
            <th>SwiftCode</th>
            <th>EndPoint</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in banks)
        {
            <tr>
                <td title="@item.BankName">@item.BankName</td>
                <td title="@item.SwiftCode">@item.SwiftCode</td>
                <td title="@item.EndPoint">@item.EndPoint</td>
                <td>
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                    |
                    <a href="~/Banks/EditBank/@item.Id" style="color:blue;">
                        Open
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form action="~/Banks/DeleteBank" method="post" id="delete_form">
    <input type="hidden" value="" name="id" id="delete_id"/>
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Record?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#delete_form").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>